<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halo.dao.CategoryDao">
    <cache/>
    <resultMap id="CategoryResultMap" type="com.halo.entity.Category">
        <result column="id" property="id"/>
        <result column="cate_name" property="cateName"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_updated" property="gmtUpdated"/>
    </resultMap>
    <parameterMap id="Category" type="com.halo.entity.Category"/>
    <select id="getCate" resultMap="CategoryResultMap">
        SELECT id,cate_name
        FROM hl_category
    </select>
</mapper>