<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halo.dao.OrderProductDao">
    <resultMap id="OrderProductResultMap" type="com.halo.entity.OrderProduct">
        <result column="id" property="id"/>
        <result column="pro_id" property="proId"/>
        <result column="order_id" property="orderId"/>
        <result column="image" property="image"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="total_fee" property="totalFee"/>
        <result column="number" property="number"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_updated" property="gmtUpdated"/>
    </resultMap>
    <parameterMap id="OrderProduct" type="com.halo.entity.OrderProduct"/>
</mapper>