<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halo.dao.OrderDao">
    <resultMap id="OrderResultMap" type="com.halo.entity.Order">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="pay_type" property="payType"/>
        <result column="shipment_time" property="shipmentTime"/>
        <result column="shipment_type" property="shipmentType"/>
        <result column="shipment_amount" property="shipmentAmount"/>
        <result column="order_status" property="orderStatus"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="pay_amount" property="payAmount"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_updated" property="gmtUpdated"/>
    </resultMap>
    <parameterMap id="Order" type="com.halo.entity.Order"/>

    <insert id="insertOrderInfo">
        INSERT INTO hl_order (id, user_id, pay_type, order_status, order_amount, pay_amount, gmt_create, gmt_updated)
        VALUES (#{id}, #{userId}, #{payType}, #{orderStatus}, #{orderAmount}, #{payAmount}, now(), now())
    </insert>

    <select id="getByUId" resultMap="OrderResultMap">
        SELECT
            id,
            order_status,
            pay_amount,
            gmt_create
        FROM hl_order
        WHERE user_id = #{userId}
    </select>

    <select id="getStatusByOrderId" resultType="java.lang.Short">
        SELECT order_status
        FROM hl_order
        WHERE id = #{orderId}
    </select>

    <select id="getNumOfOrder" resultType="java.lang.Integer">
        SELECT count(id) AS totalOrder
        FROM hl_order
    </select>

    <select id="getNumOfNoHandledOrder" resultType="java.lang.Integer">
        SELECT count(id) AS totalOrder
        FROM hl_order
        WHERE order_status = 2
    </select>
    
    <select id="getTotalTurnOver" resultType="java.lang.Integer">
        SELECT sum(order_amount)
        FROM hl_order
        WHERE order_status = 4
    </select>
    
    <select id="getMeiZuSales" resultType="java.lang.Integer">
        SELECT count(hl_order_product.id)
        FROM hl_order_product, hl_order
        WHERE hl_order.id = order_id AND title LIKE '%魅族%' AND
              1>TIMESTAMPDIFF(MONTH, hl_order_product.gmt_updated, now()) AND order_status = 4
    </select>

    <select id="getMeiLanSales" resultType="java.lang.Integer">
        SELECT count(hl_order_product.id)
        FROM hl_order_product, hl_order
        WHERE hl_order.id = order_id AND title LIKE '%魅蓝%' AND
              1>TIMESTAMPDIFF(MONTH, hl_order_product.gmt_updated, now()) AND order_id = 4
    </select>


    <resultMap id="orderProductListResultMap" type="com.halo.dto.OrderListDTO">
        <result column="id" property="id"/>
        <result column="user_id" property="uid"/>
        <result column="gmt_updated" property="gmtUpdated"/>
        <result column="pay_amount" property="price"/>
        <result column="order_status" property="status"/>
        <collection property="products" ofType="com.halo.dto.OrderProductDTO">
            <result column="pro_id" property="proId"/>
            <result column="image" property="imgUrl"/>
            <result column="title" property="title"/>
            <result column="price" property="price"/>
            <result column="number" property="number"/>
            <result column="total_fee" property="total"/>
        </collection>
    </resultMap>
    <select id="getOrders" resultMap="orderProductListResultMap">
        SELECT
            hl_order.id,
            user_id,
            hl_order.gmt_updated,
            pay_amount,
            order_status,
            pro_id,
            image,
            title,
            price,
            number,
            total_fee
        FROM hl_order, hl_order_product
        WHERE hl_order.id = order_id
        LIMIT #{pageIndex}, #{pageCount}
    </select>
    <select id="getOrdersByStatus" resultMap="orderProductListResultMap">
        SELECT
            hl_order.id,
            user_id,
            hl_order.gmt_updated,
            pay_amount,
            order_status,
            pro_id,
            image,
            title,
            price,
            number,
            total_fee
        FROM hl_order, hl_order_product
        WHERE hl_order.id = order_id AND order_status = #{status}
        LIMIT #{pageIndex}, #{pageCount}
    </select>
    <update id="updateOrderStatusById">
        UPDATE hl_order
        SET order_status = #{status}
        WHERE id = #{id}
    </update>
</mapper>