<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halo.dao.ProductDetailDao">
    <cache/>
    <resultMap id="ProductDetailResultMap" type="com.halo.entity.ProductDetail">
        <result column="id" property="id"/>
        <result column="description" property="description"/>
        <result column="pro_id" property="proId"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_updated" property="gmtUpdated"/>
    </resultMap>
    <parameterMap id="ProductDetail" type="com.halo.entity.ProductDetail"/>
    <select id="getDescriptionByProId">
        SELECT description
        FROM hl_product_detail
        WHERE pro_id=#{proId}
    </select>
</mapper>