<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halo.dao.TypeDao">
    <cache/>
    <resultMap id="TypeResultMap" type="com.halo.dao.TypeDao">
        <result column="id" property="id"/>
        <result column="cate_id" property="cateId"/>
        <result column="type_name" property="typeName"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_updated" property="gmtUpdated"/>
    </resultMap>
    <parameterMap id="Type" type="com.halo.entity.Type"/>
</mapper>