<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halo.dao.UserRegistryDao">
    <cache/>
    <resultMap id="UserRegistryResultMap" type="com.halo.entity.UserRegistry">
        <result column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="pwd" property="pwd"/>
        <result column="salt" property="salt"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_updated" property="gmtUpdated"/>
    </resultMap>
    <parameterMap id="UserRegistryMap" type="com.halo.entity.UserRegistry"/>

    <select id="getIdByPhone" resultType="java.lang.Integer">
        SELECT id
        FROM hl_user_registry
        WHERE phone = #{phone}
    </select>

    <select id="getByPhone" resultMap="UserRegistryResultMap">
        SELECT
            id,
            pwd,
            salt
        FROM hl_user_registry
        WHERE phone = #{phone}
    </select>
</mapper>