<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halo.dao.UserRegistryDao">
    <resultMap id="UserRegistryResultMap" type="com.halo.entity.UserRegistry">
        <result column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="pwd" property="pwd"/>
        <result column="salt" property="salt"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_updated" property="gmtUpdated"/>
    </resultMap>
    <parameterMap id="UserRegistryMap" type="com.halo.entity.UserRegistry"/>

    <select id="getIdByPhone" resultType="java.lang.Integer">
        SELECT id
        FROM hl_user_registry
        WHERE phone = #{phone}
    </select>

    <select id="getByPhone" resultMap="UserRegistryResultMap">
        SELECT
            id,
            pwd,
            salt
        FROM hl_user_registry
        WHERE phone = #{phone}
    </select>
    <select id="getByUId" resultMap="UserRegistryResultMap">
        SELECT
            pwd,
            salt
        FROM hl_user_registry
        WHERE id = #{userId}
    </select>
    <insert id="insertUserRegistryInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO hl_user_registry (phone, pwd, salt)
        VALUES (#{phone}, #{pwd}, #{salt})
    </insert>

    <update id="updatePwdByUId">
        UPDATE hl_user_registry
        SET salt = #{salt}, pwd = #{newPwd}, gmt_updated = now()
        WHERE id = #{userId}
    </update>

    <update id="updatePhoneByUId">
        UPDATE hl_user_registry
        SET phone = #{phone}, gmt_updated = now()
        WHERE id = #{userId}
    </update>

    <update id="updatePwdByPhone">
        UPDATE hl_user_registry
        SET salt = #{salt}, pwd = #{pwd}, gmt_updated = now()
        WHERE phone = #{phone}
    </update>

    <delete id="deleteUsersRegistry" parameterType="java.util.List">
        DELETE FROM hl_user_registry
        WHERE id IN
        <foreach collection="list" item="idItem" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>
</mapper>