<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halo.dao.UserAddressDao">
    <resultMap id="AddressResultMap" type="com.halo.entity.UserAddress">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_phone" property="userPhone"/>
        <result column="user_address" property="userAddress"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_updated" property="gmtUpdated"/>
    </resultMap>
    <parameterMap id="UserAddress" type="com.halo.entity.UserAddress"/>
    <select id="getByUId" resultMap="AddressResultMap">
        SELECT
            id,
            user_name,
            user_phone,
            user_address
        FROM hl_user_address
        WHERE user_id = #{userId}
    </select>

    <insert id="insertAddressInfo" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO hl_user_address (user_id, user_name, user_phone, user_address, gmt_create, gmt_updated)
        VALUES (#{userId}, #{userName}, #{userPhone}, #{userAddress}, now(), now())
    </insert>
    <update id="updateAddressInfoByUIdAndId">
        UPDATE hl_user_address
        SET user_name = #{userName}, user_phone = #{userPhone}, user_address = #{userAddress}, gmt_updated = now()
        WHERE user_id = #{userId} AND id = #{id}
    </update>
    <delete id="deleteAddressInfoByUIdAndId">
        DELETE FROM hl_user_address
        WHERE user_id = #{userId} AND id = #{id}
    </delete>
    <delete id="deleteUsersAddress" parameterType="java.util.List">
        DELETE FROM hl_user_address
        WHERE user_id IN
        <foreach collection="list" item="idItem" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>
</mapper>